python-binance
pandas
plotly
matplotlib
PyYAML
requests
tzlocal
keras
neupy
scikit-learn
scipy
tensorflow
tensorflow-probability
tensorflow-datasets==4.1.0
Pillow==9.0.0
statsmodels
numpy
cvxpy
outlier_utils
mlautomator